<h1> My First Sinatra </h1>
<p>
	<b>Author:</b>
		Alison Maultasch
	</p>
<% if Date.today.tuesday? %>
<p>
	Alison Maultasch is <strong>NOT</strong>
	a fan of Tuesdays like today.
</p>
<% end %>

<p> Alison Maultasch was born on <%= Date.today %>.
</p>