<!-- display_the_session.erb -->
<h1> Hello, friends! What do you want to know? </h1>
<ul>
	<li> <a href="/hi"> Hi Page </a> </li>
	<li> <a href="/about"> About </a> </li>
	<li> <a href="/recipe"> Recipe </a> </li>
	<li> <a href="/users/alison"> Profile: Alison</a> </li>
	<li> <a href="users/nizar"> Profile: Nizar</a> </li>
</ul>

<h2> Your Session Data Right Now </h2>
<pre>
	<%= @current_session.inspect %>
</pre>