<!-- home.erb -->

<html>
<head>
  <title>Sign Up | Enter Info Now</title>
</head>
<body>
	<h1> Please enter your email and password: </h1>
  <form action="/login" method="POST">
  	<label>Email:</label>
  <input type="text" name="email" placeholder="enter email">
	<label>Password:</label>
  <input type="text" name="password" placeholder="enter password">

  <button type="submit">Create Account</button>
  </form>

</body>
</html>