<!-- info.erb -->

<html>
<head>
  <title>IMDB | Search Results</title>
</head>
<body>
	<h1> Results:</h1>
	<h1> Which movie was released in the year <%=@random_movie.release_date %>?</h1>

  <ul>
	<% @final_array.each_with_index do |movie, index| %>
	<li>
		<% if movie == @random_movie %>
<img src="<%= movie.poster %>" height="120" width="120" onClick="alert('yay!')"/>
	<% else %> 
	<img src="<%= movie.poster %>" height="120" width="120" onClick="alert('wrong')"/>
<% end %>
</li>
<% end %>

</ul>


<!--   <button type="submit">Select</button>
 -->

