<!-- info.erb -->

<html>
<head>
  <title>IMDB | Search Results</title>
</head>
<body>
	<h1> Results:</h1>
	<h1> Click on the movie was released on <%=@random_movie.release_date %>?</h1>

  <ul>
	<% @final_array.each_with_index do |movie, index| %>
	<li>
		<% if movie == @random_movie %>
<img src="<%= movie.poster %>" height="200" width="200" onClick="alert('yay!')"/>
	<% else %> 
	<img src="<%= movie.poster %>" height="200" width="200" onClick="alert('wrong')"/>
<% end %>
</li>
<% end %>

</ul>


dr won gaedea 305-595-1616